<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- NEW: argument for ros2_controllers.yaml -->
    <xacro:arg name="ros2_controllers_yaml"
               default="$(find fr3_dual_arm_moveit_config)/config/ros2_controllers.yaml"/>

    <xacro:macro name="dual_fr3_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="left_fr3_joint1">
                <command_interface name="position">
                    <param name="kp">600.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">30.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_fr3_joint2">
                <command_interface name="position">
                    <param name="kp">600.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">30.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_fr3_joint3">
                <command_interface name="position">
                    <param name="kp">600.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">30.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_fr3_joint4">
                <command_interface name="position">
                    <param name="kp">600.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">30.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_fr3_joint5">
                <command_interface name="position">
                    <param name="kp">250.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">10.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_fr3_joint6">
                <command_interface name="position">
                    <param name="kp">150.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">10.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_fr3_joint7">
                <command_interface name="position">
                    <param name="kp">50.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">5.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_fr3_joint1">
                <command_interface name="position">
                    <param name="kp">600.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">30.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_fr3_joint2">
                <command_interface name="position">
                    <param name="kp">600.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">30.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_fr3_joint3">
                <command_interface name="position">
                    <param name="kp">600.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">30.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_fr3_joint4">
                <command_interface name="position">
                    <param name="kp">600.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">30.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_fr3_joint5">
                <command_interface name="position">
                    <param name="kp">250.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">10.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_fr3_joint6">
                <command_interface name="position">
                    <param name="kp">150.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">10.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_fr3_joint7">
                <command_interface name="position">
                    <param name="kp">50.0</param>
                    <param name="ki">0.01</param>
                    <param name="kd">5.0</param>
                </command_interface>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_fr3_finger_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_finger_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_fr3_finger_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_finger_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

        <!-- NEW: Gazebo plugin that starts controller_manager using ros2_controllers.yaml -->
        <gazebo>
            <plugin filename="gz_ros2_control-system"
                    name="gz_ros2_control::GZROS2ControlPlugin">
                <parameters>${ros2_controllers_yaml}</parameters>
            </plugin>
        </gazebo>

    </xacro:macro>
</robot>
