<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_fr3">

  <!-- Include FR3 wrapper -->
  <xacro:include filename="$(find franka_description)/robots/fr3/fr3.urdf.xacro" />

  <!-- Macro to spawn one FR3 with prefix -->
  <xacro:macro name="spawn_fr3" params="prefix parent_link *origin">

    <joint name="${prefix}_world_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${prefix}fr3_link0"/>
    </joint>

    <!-- Call the franka_robot wrapper -->
    <xacro:franka_robot 
        arm_id="fr3"
        arm_prefix="${prefix}"
        description_pkg="franka_description"
        joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
        inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
        kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
        dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
        safety_distance="0.03"
        with_sc="false"
        gazebo="false"
        connected_to=""/>
  </xacro:macro>

  <!-- Left arm -->
  <xacro:spawn_fr3 prefix="left" parent_link="base">
    <origin xyz="0 0.4 0" rpy="0 0 0"/>
  </xacro:spawn_fr3>

  <!-- Right arm -->
  <xacro:spawn_fr3 prefix="right" parent_link="base">
    <origin xyz="0 -0.4 0" rpy="0 0 0"/>
  </xacro:spawn_fr3>

</robot>
